.content {
    display: block;
    min-height: calc(100vh - 60px - 40px - 70px);
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;

    .product {
        display: inline-block;
    }
}